.pkg-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  height: 32px;
  white-space: nowrap;
  cursor: pointer;
  color: #606266;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  transition: .1s;
  font-weight: 500;
  padding: 8px 15px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  background-color: #ffffff;
  margin-right: 8px;
}

.pkg-button:hover {
  color: #409eff;
  border-color: #c6e2ff;
  background-color: #ecf5ff;
}

.pkg-button--primary {
  color: #fff;
  background-color: #409eff;
  border-color: #409eff;
}

.pkg-button--primary:hover {
  background: #66b1ff;
  border-color: #66b1ff;
  color: #fff;
}

.pkg-button--success {
  color: #fff;
  background-color: #67c23a;
  border-color: #67c23a;
}

.pkg-button--success:hover {
  background: #85ce61;
  border-color: #85ce61;
  color: #fff;
}

.pkg-button--warning {
  color: #fff;
  background-color: #e6a23c;
  border-color: #e6a23c;
}

.pkg-button--warning:hover {
  background: #ebb563;
  border-color: #ebb563;
  color: #fff;
}

.pkg-button--danger {
  color: #fff;
  background-color: #f56c6c;
  border-color: #f56c6c;
}

.pkg-button--danger:hover {
  background: #f78989;
  border-color: #f78989;
  color: #fff;
}

.pkg-button.is-disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.pkg-button.is-disabled:hover {
  color: #606266;
  border-color: #dcdfe6;
  background-color: #ffffff;
}

.pkg-button--primary.is-disabled:hover,
.pkg-button--success.is-disabled:hover,
.pkg-button--warning.is-disabled:hover,
.pkg-button--danger.is-disabled:hover {
  color: #fff;
  opacity: 0.5;
} 